{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card col-lg-6 col-sm-12 offset-lg-3 mb-2">
                <div class="card-body p-1">
                    <h3>Your response:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post">
                        {{ sub_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" value="{{ prompt.slug }}" class="btn btn-signup btn-lg">Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}