{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Active Prompt -->
        <div class="col-12">
            <div class="row">
                <div class="card col-lg-6 col-sm-12 offset-lg-3 prompt">
                    <div class="card-body">
                        <h2>{{ prompt.prompt }}</h2>
                        <span>{{ prompt.date }}</span>
                        {% with subs.count as total_subs %}
                        <span>Subs: {{ total_subs }}</span>
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% for sub in subs %}
            <div class="card col-lg-6 col-sm-12 offset-lg-3 subs">
                <div class="card-body">
                    <p>{{ sub.sub }}</p>
                    <p>{{ sub.user }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock content %}