{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

        <!-- Active Prompt -->
        <div class="col-12">
            <div class="row">
                <div class="card col-lg-6 col-sm-12 offset-lg-3 mb-2 mt-2 prompt">
                    <div class="card-body">
                        <h2>{{ prompt.prompt }}</h2>
                        <span>{{ prompt.date }}</span>
                        {% with subs.count as total_subs %}
                        <span>Subs: {{ total_subs }}</span>
                        {% endwith %}
                    </div>
                </div>
            </div>
            <!-- Active submissions -->
            {% for sub in subs %}
            <div class="card col-lg-6 col-sm-12 offset-lg-3 mb-2 subs">
                <div class="card-body p-1">
                    <p><strong>{{ sub.sub }}</strong></p>
                    <p class="user-tag">{{ sub.user }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="card col-lg-6 col-sm-12 offset-lg-3 mb-2">
                <div class="card-body p-1">
                    {% if submitted %}
                    <p><strong>You have already submitted</strong></p>
                    {% else %}

                    {% if user.is_authenticated %}
                    <h3>Submit a response:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post">
                        {{ sub_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}