{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

        <!-- Active Prompt -->
        <div class="col-12">
            <div class="row">
                <div class="card col-lg-6 col-sm-12 offset-lg-3 mb-2 mt-2 prompt">
                    <div class="card-body">
                        <h2>{{ prompt.prompt }}</h2>
                        <span><strong>{{ prompt.date }}</strong></span>
                        <!-- {% with subs.count as total_subs %}
                        <span>Subs: {{ total_subs }}</span>
                        {% endwith %} -->
                    </div>
                </div>
            </div>
            <!-- Active submissions -->
            {% for sub in subs %}
            <div class="card col-lg-6 col-sm-12 offset-lg-3 mb-2 subs">
                <div class="card-header prompt-user">
                    <div class="row">
                        <div class="col">
                            <p class="user-tag"><strong><i class="fa-solid fa-user"></i> {{ sub.user }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-1">
                    <!--  -->
                    <div class="row">
                        <div class="col-9">
                            <p class="sub"><strong>"{{ sub.sub }}"</strong></p>
                        </div>
                        <!--  -->
                        <div class="col-3 align-self-center">
                            <span><strong>Upvotes: </strong>{{ sub.number_of_upvotes }}</span>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'sub_upvote' prompt.slug sub.pk sub.user %}" method="POST">
                                {% csrf_token %}
                                <!-- {% if voted %}
                                <button type="submit" name="sub_pk" value="{{sub.pk}}" class="upvote"
                                    title="unvote">-</button>

                                {% else %} -->
                                <button type="submit" name="sub_pk" value="{{sub.pk}}" class="upvote" title="upvote">+</button>

                                <!-- {% endif %} -->
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="card col-lg-6 col-sm-12 offset-lg-3 mb-2">
                <div class="card-body p-1">
                    {% if user.is_authenticated %}
                        <!-- {% if submitted %}
                        <p><strong>You have already submitted</strong></p>
                        
                        {% else %} -->
                        <h3>Submit a response:</h3>
                        <p><i class="fa-solid fa-user"></i> {{ user.username }}</p>
                        <form method="post">
                            {{ sub_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" value="{{ user.pk }}" class="btn btn-info">Submit</button>
                        </form>
                        
                        <!-- {% endif %} -->
                    {% else %}
                    <p>You must <a href="{% url 'account_login' %}">login</a>/<a
                            href="{% url 'account_signup' %}">register</a> to submit a response.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}