{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="card col-lg-6 col-sm-12 offset-lg-3 mt-2 text-center">
                    <h1>Your submissions:</h1>
                    <p>Here you can manage your submissions. <br>
                        Not quite punchy enough? Make a quick change.<br>
                        Hate what you've said in the past? Don't we all.<br>
                        Luckily, here you can just delete it. Enjoy!
                    </p>
                </div>
                {% for sub in subs %}
                <div class="card col-lg-6 col-sm-12 offset-lg-3 mt-2 text-center">
                    <div class="card-body">
                        <h2>{{ sub.prompt }}</h2>
                        <p><strong>"{{ sub.sub }}"</strong></p>
                        <a href="{% url 'edit_sub' sub.prompt user.pk sub.id %}"><button type="submit"
                                class="d-inline btn-info">Edit</button></a>
                        <a href="{% url 'delete_sub' user.pk sub.sub %}"><button type="submit"
                                class="d-inline btn-danger">Delete</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}