{% extends "base.html" %} 

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Prompts -->
        <div class="col-12">
            <div class="row">
                <h1>Your submissions:</h1>
                {% for sub in subs %}
                <div class="card">
                    <div class="card-body">
                        <h2>{{ sub.created_on }}</h2>
                        <p>{{ sub.sub }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}