{% extends "base.html" %} 

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h1>Your submissions:</h1>
                {% for sub in subs %}
                <div class="card">
                    <div class="card-body">
                        <h2>{{ sub.created_on }}</h2>
                        <p><strong>"{{ sub.sub }}"</strong></p>
                        <a href="{% url 'edit_sub' sub.prompt user.pk %}"><button type="submit" class="d-inline btn-info">Edit</button></a>
                        <a href="{% url 'delete_sub' user.pk sub.sub %}"><button type="submit" class="d-inline btn-danger">Delete</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}