@import url("https://use.typekit.net/odw1cig.css");

a {
    text-decoration: none;
}

body {
    background-color:hsla(161,95%,85%,1);
    background-image:
        radial-gradient(at 3% 94%, hsla(257,100%,78%,1) 0px, transparent 50%),
        radial-gradient(at 51% 0%, hsla(3,100%,88%,1) 0px, transparent 50%),
        radial-gradient(at 99% 97%, hsla(304,100%,78%,1) 0px, transparent 50%);
    font-family: 'Cubano', Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    font-size: 2rem;
}

.nav-list{
    flex-direction: column !important;
}

.nav-drop-container{
    justify-content: baseline; /* NECESSARY ?? */
    height: 30vh;
    width: 25vw;
    flex-wrap: wrap !important;
    position: fixed;
}

.navbar-collapse{
    flex-grow: 0;
}

.card {
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
}

.container-fluid {
    height: 92vh;
}

.sub {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif; 
}

.upvote {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: none;
    border: solid 1px #000;
    background-color: bisque;
}

.prompt-user {
    font-weight: 200;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #F7F7F7;
    box-shadow: 5px 5px #000;
    position: relative;
    offset-position: -5px !important;
    background-color: #545454;
}

.user-tag {
    margin: 0;
}

.sub-list-subs {
    font-size: 1.5rem;
}

@media screen and (max-width:991px) {
    .nav-drop-container{
        height: 15vh;
        width: auto;
        position: relative;
}
}